/* =========================================================
   CAROUSEL CONTAINER
   ========================================================= */
.carousel {
  background: #10344b;
  border: solid 1px #101010;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  min-height: 0;

  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

/* =========================================================
   SLIDE LIST WRAPPER
   ========================================================= */
.carousel > ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform 0.7s ease-in-out;
}

/* =========================================================
   SLIDES
   ========================================================= */
[data-slides] {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;

  border-radius: 12px;
  border-color: #101010;
  transition: left 0.5s ease-in-out;
}

.carousel-slide[data-active] {
  left: 0;
  z-index: 1;
}

/* =========================================================
   NAVIGATION BUTTONS
   ========================================================= */
.carousel-button {
  position: absolute;
  bottom: 10px;
  z-index: 10;

  background: #10344b;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

.carousel-button:hover {
  background: rgba(41, 143, 194, 0.9);
}

.carousel-button.prev {
  left: 5px;
}

.carousel-button.next {
  right: 5px;
}


/* =========================================================
   LOADING SPINNER
   ========================================================= */
#spinner {
  display: none;
  width: 20px !important;
  height: 20px !important;
  margin-left: 10px !important;

  border: 3px solid #f3f3f3 !important;
  border-top: 3px solid #3498db !important;
  border-radius: 50% !important;
  animation: spin 0.8s linear infinite;
  vertical-align: middle !important;
  /*transform: none !important;*/

}

#spinner_text {
  display: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

/* =========================================================
   ANIMATIONS
   ========================================================= */
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Query Adjustments */
@media screen and (min-width: 3810px) and (min-height: 2160px) {
}
