/* ================================
   HIGHCHARTS & CHART CONTAINERS
   ================================ */

/* Main chart wrapper */
.chart-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  background-color: #10344b;
  border: 2px solid #101010;
  border-radius: 12px;
}

/* Chart container */
#chartContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* Time series chart container */
#timeSeriesContainer {
  display: block;
  flex: 1 1 auto;
  width: 100%;
  min-height: 500px;
  max-width: 100%;
  margin: auto;
}

/* ================================
   DATE RANGE SELECTOR
   ================================ */

.dateRangeSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dateRangeSelector label.start-date {
  margin-right: 30px;
}

.dateRangeSelector label.end-date {
  margin-left: 20px;
}

.dateRangeSelector input[type="date"] {
  margin-right: 15px;
}

#updateChart {
  margin-left: 10px;
  padding: 10px;
}

label {
  color: white;
  font-size: 24px;
  padding-right: 10px;
}


/* ================================
   HIGHCHARTS / SVG SCALING
   ================================ */

.highcharts-container {
  height: 100% !important;
}

.highcharts-figure {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.highcharts-chart {
  display: block;
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
}
.highcharts-legend-item text {
  font-size: 20px !important;
  font-weight: bold !important;
}

/* Responsive Adjustments */

/* Vertical Mobile Layout */
@media screen and (max-width: 768px) {
  .dateRangeSelector {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px; /* space between elements */
  }

  .dateRangeSelector input,
  .dateRangeSelector button {
    flex: 1 1 auto; /* allow resizing */
  }

  .dateRangeSelector #spinner {
    flex: 0 0 auto; /* prevent it from shrinking */
    margin-left: 4px; /* adjust as needed */
  }
  @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

@media screen and (min-width: 3810px) and (min-height: 2160px){
  .dateRangeSelector {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px; /* space between elements */
  }

  .dateRangeSelector input,
  .dateRangeSelector button {
    flex: 1 1 auto; /* allow resizing */
  }

  .dateRangeSelector #spinner {
    flex: 0 0 auto; /* prevent it from shrinking */
    margin-left: 4px; /* adjust as needed */
    width: 4vw;
    height: 4vw;
    border: calc(0.4vw) solid #ccc;
    border-top: calc(0.4vw) solid #298fc2;
  }
  @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  label {
     font-size: 50px; 
  }

}
